<section class="row m-4 achievements-section">

    <div class="d-flex
    col-sm-12 col-md-6 col-lg-6
                flex-column
                justify-content-center
                p-2
                align-items-center">
                <h1 class="wrap fw-bold fs-1">To Do Tracker</h1>
                <mat-divider></mat-divider>
                <p class="pt-3 pb-3  text-wrap description">
                  To-do Tracker can help you get, and stay,
                  on top of important projects and piles of tasks or decisions. For instance, imagine you're heading a team that's
                  working on a project. There are so many tasks to do, and so many people doing them,
                  that staying on top of it all seems overwhelming.
                </p>
                <p class="pt-3 pb-3  text-wrap description">
                  To-do Tracker can help you get, and stay,
                    on top of important projects and piles of tasks or decisions. For instance, imagine you're heading a team that's
                    working on a project. There are so many tasks to do, and so many people doing them,
                    that staying on top of it all seems overwhelming.
                  </p>
    </div>
    
  <div class="d-flex
  col-sm-12 col-md-6 col-lg-6
              flex-column
              justify-content-center
              p-2
              align-items-center">
              <img class="img-fluid mb-2 achievement-image" src="https://thumbs.gfycat.com/PaltryIdenticalAngelfish.webp"/>

  </div>
  </section>
