@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css");
a {
    color: #428BCA !important;
    text-decoration: none !important;
}

a:hover, a:focus {
    color: #2A6496 !important;
    text-decoration: underline !;
}